<div class="jumbotron">
    <h1>About</h1>
        <img class = "contactImage" src="images/vientoabout.jpg" alt="Viento Y Agua" />

        <p>We are a cozy coffee house that hosts
        live music on the weekends and holds one of the
        most popular open mic nights every Thursday.
        And we've got coffee and snacks!</p>
        <p>Our menu can be found
            <a href = "https://locu.com/places/viento-y-agua-coffee-house-gallery-long-beach-us/#menu">
            here
            </a>
        </p>

        <p>And we are located at 4007 E 4th St, Long Beach, CA 90814</p>

        <!-- Our google map -->
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3316.567080924055!2d-118.14559530000001!3d33.771851299999994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80dd31b04ecaae6d%3A0x1f285f92e876945!2sViento+Y+Agua!5e0!3m2!1sen!2sus!4v1442263024424"
        class = "mapsFrame" frameborder="0" allowfullscreen></iframe>

</div>
