<div class="jumbotron animated fadeIn" ng-init = "isCollapsed = true;">
  <h1>Contact Us!</h1>
  <p class="lead">
    <img class = "contactImage" src="images/vientoinside.jpg" alt="Viento Y Agua"><br><br>
    Viento books music for Friday and Saturday evenings. 7, 8, 9pm slots for 45 mins. And some Sundays at 5 & 6pm.
    Please note we are in residential area so drummers must use rods and brushes.
    Email Dana Benedict at
    <br>
    <a href="mailto:vientoyaguaevents@gmail.com" target="_top">vientoyaguaevents@gmail.com</a>
    <br>
    with links for booking inquiries.
    <br>
    <br>

    <form class = "center" style = "font-size: 1.5em">
        <h2>Send us an E-mail!</h2>

        Your Name:
        <br>
        <input type="text" style = "width: 50%" ng-model="contact.name" />
        <br>
        <br>
        Your E-mail:
        <br>
        <input type="email" style = "width: 50%" ng-model="contact.email" />
        <br>
        <br>
        Subject:
        <br>
        <input type="text" style = "width: 50%" ng-model="contact.subject" />
        <br>
        <br>
        <br>

        Message:
        <br>
        <textarea type="text" rows = "8" style = "width: 80%;" ng-model="contact.name" />

        <br>
        <input type="submit" />

    </form>
    <br>
    <p class = "lead">
        Or, give us a call at:
    </p>

    <button type="button"
    class="btn"
    ng-click="isCollapsed = !isCollapsed">
    Show Phone Number
    </button>

    <div collapse="isCollapsed" class = "phoneNum">
		<a href="tel:+15624341182">(562) 434-1182</a>
	</div>

    <br>
    <br>

    <p class="lead">
        Or, you can visit our location at 4007 E 4th St, Long Beach, CA 90814
    </p>
 </p>

  <!-- Our google map -->
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3316.567080924055!2d-118.14559530000001!3d33.771851299999994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80dd31b04ecaae6d%3A0x1f285f92e876945!2sViento+Y+Agua!5e0!3m2!1sen!2sus!4v1442263024424"
  class = "mapsFrame" frameborder="0" allowfullscreen></iframe>
</div>
