<div class="jumbotron">
  <h1>Live Events</h1>
  <div class = "liveinfo">
      <div class = "nobreak">
        <h2>Thursday Open Mic</h2>
        <img class = "openMicImage" src="images/openmic.jpg" alt="Viento Y Agua"><br><br>
        Every Thursday Viento is proud to host one the finest Open Mics in Long Beach. Sign up for the Open Mic starts are 7pm and usually starts once the list is full. It ends at 10pm. There is a one drink minimum, and because it is a popular open mic there is a limit to one performance per performer, unless there is time for more. <a href = "#/contact">Alyssandra Nighswonger and Dana Benedict</a> switch off every week hosting. Both are local Long Beach musicians and are extrememly passionate about the local talent. At the end of the night a vote is held for the favorite performer of the night. This year there will be a Open Mic Champion Showcase to feature the amazing local talent.
    </div>

      <div class = "nobreak">
        <h2>Shimmy Showcase</h2>
        Shimmy Showcase has a tradition of encouraging creative exploration of middle eastern based dance through a variety of theme nights, which has been Shimmy Showcase’s trademark since it's inception. "Our family has remained strong, and many of our dancers and supporters enjoy the ambience Viento y Agua offers to its patrons.  On March 21 we celebrated Shimmy Showcase’s 12th anniversary with an amazing crowd of dancers and supporters, many of whom have been involved with Shimmy Showcase since its earliest years.  We hope to go on for at least another 12 years and thank Viento y Agua for enabling us to continue the Shimmy Showcase tradition," says Patricia Alexander, proud representative of Shimmy Showcase.
        Shimmy Showcase is every third Saturday.
    </div>
    
      <div class = "nobreak">
        <h2>Songwriters in the Round</h2>
        Songwriters In the Round is a monthly event that is modeled after the "In the Round" sessions popularized by the Bluebird Cafe in Nashville. Three singer-songwriters share the stage for 5 rounds of questions & songs. Each round starts with a question, i.e. How did you get started in songwriting?, Who are some of your favorite songwriters and how have they influenced your work?, etc. Each musician answers the question for the round and then intros and plays a song.

        This format creates a more intimate setting that allows friends a fans a closer look at the artists' creative processes. It also allows artists to expand their fan base by inviting their own friends and fans, and playing for other artists friends and fans.

        We hope to see you at a Songwriters In The Round show soon! Songwriters In The Round is every last Friday at 8pm.
    </div>

  </div>

  <br>
  <br>
  <p class = "contact">
      For more information, you can <a href = "#/contact">contact us</a>.
      You can view these amazing performances at our location at 4007 E 4th St, Long Beach, CA 90814
  </p>

  <!-- Our google map -->
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3316.567080924055!2d-118.14559530000001!3d33.771851299999994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80dd31b04ecaae6d%3A0x1f285f92e876945!2sViento+Y+Agua!5e0!3m2!1sen!2sus!4v1442263024424"
  class = "mapsFrame" frameborder="0" allowfullscreen></iframe>
</div>
