<div class = "animated zoomIn">

<div class="jumbotron">
  <h1>Viento Y Agua</h1>
  <h2>Coffee House</h2>
  <p class="lead">
    <img src="images/VientoTrans.png" alt="Viento Y Agua"><br>
  </p>

  <div class = "center mainCarousel animated pulse">
  <carousel interval="myInterval" no-wrap="noWrapSlides">
    <slide ng-repeat="slide in slides" active="slide.active">
      <img ng-src="{{slide.image}}" style="margin:auto;">
      <div class="carousel-caption">
        <!-- <p>{{slide.text}}</p> -->
      </div>
    </slide>
  </carousel>
</div>
</div>

<div class="row marketing">
  <h4>Who We Are</h4>
  <p>
    Viento Y Agua is a coffee house in Long Beach, CA located at 4007 E 4th St, Long Beach, CA 90814
  </p>

  <h4>What We Do</h4>
  <p>
    We offer a variety of coffee, beverages, and food. And we also host live events!
  </p>

  <h4>When do we host events</h4>
  <p>Viento books music for Friday and Saturday evenings. 7, 8, 9pm slots for 45 mins. And some Sundays at 5 & 6pm.</p>
</div>

</div>
