@charset "utf-8";
/* CSS Document */

/* CSS goes here! */

body {
    background-color: #a4b4b4;
}

header {
    margin: auto;
    text-align: center;
}

nav {
    margin: auto;
    text-align: center;
}

nav a {
    margin-left: 5px;
    margin-right: 5px;
}

/*Fancy CSS3 Hovering*/
a {
    opacity: 1;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

a:hover {
    opacity: 0.5;
}

section {
    background-color: #c5d5de;
    padding-left: 10px;
    padding-right: 10px;
}

aside {
    margin-top: 5px;
}

h3 {
    margin: auto;
    text-align: center;
}

footer {
    font-weight: bold;
}
