@charset "utf-8";
/* CSS Document */

/* CSS goes here! */

body {
    background-color: #a4b4b4;
    color: #000035;
}

header {
    margin: auto;
    text-align: center;
}

#lblogo {
    vertical-align: -webkit-baseline-middle;
    padding-bottom: 17px;
}

#lblogo:hover {
    -ms-transform: translate(0px, -10px); /* IE 9 */
      -webkit-transform: translate(0px, -10px); /* Safari */
   transform: translate(0px, -10px);
}

#CECS {
    display: inline;
}

nav {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    text-align: center;

    border-radius: 3px;
    width: 400px;

    background-color: rgba(0, 0, 0, 0);
    transition: all.25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
}


nav:hover {
    background-color: rgba(0, 0, 0, .25);
}

nav a {
    margin-left: 5px;
    margin-right: 5px;
}

/*Fancy CSS3 Hovering*/
a {
    opacity: 1;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

a:hover {
    opacity: 0.5;
}


aside {
    margin-top: 5px;
}

section {
    background-color: #c5d5de;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    margin: auto;
    width: 90%;

    box-shadow: 10px 10px 5px #4A4A62;
}

h3 {
    margin: auto;
    text-align: center;
}

footer {
    margin-top: 10px;
    font-weight: bold;
}
