//Colors, Defining my color scheme here (SASS)
//Pallete: http://pokepalettes.com/#dusknoir
$bgColor: #413939;
$navBg: #625252;
$standardText: #cdc5ac;
$standardTextHover: #9c7b29;
$navbarActive: #837373;

//COlumns for live events
$columnWidth: 350px;

//Adding our body colors and removing padding
body {
  padding: 0;
  background-color: $bgColor;
  color: $standardText;
}

//A simple class to center things
.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

//COnfiguring our jumbotron div
.jumbotron {
    color: $bgColor;
    background-color: $standardText;
}

//Removing the borders that appear to be horizontal lines
.footer {
    border-top: none;
}

.header {
    border-bottom: none;
}

//COnfiguring our nav bar that indicates which page we are on
.activeTab {
    background-color: $navbarActive;

    a {
        color: $standardText !important;
    }
}

//Our navbar background color
.navbar {
    background-color: $navBg;
}

//Remove the awkward border
.navbar-default {
    border: none;

    .navbar-toggle {
        border: none;
    }
}

//Set the color of the navbar text
.navbar-default .navbar-nav > li > a {
    color: $standardText;
}

.navbar-default .navbar-brand {
    color: $standardText;
}

//Hovering over nav links should change to a different color
.navbar-default:hover .navbar-nav:hover > li:hover > a:hover {
    color: $standardTextHover;
}

.navbar-default:hover .navbar-brand:hover {
    color: $standardTextHover;
}


//Setting the css for our google maps iframe
.mapsFrame {
    width: 600px;
    height: 450px;
    border: 0;
}

//Configuring our carasouel on the home page
.mainCarousel {
        width: 80%;
        max-width: 1000px;
}

//Page Image headers
.contactImage {
        width: 90%;
        height: auto;
        border-radius: 3px;
}

.openMicImage {
    width: 80%;
    max-width: 350px;
    height: auto;
    border-radius: 3px;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    width: 100%;
    height: 450px;
}

//Make our links pop a bit more
p {
    a {
        font-size: 22px;
    }
}

.phoneNum {
    a {
        font-size: 22px;
    }
}

//Live events styling for the column layout
.liveinfo {
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5em;
    font-size: 22px;

    //Columns stuff
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;

    -webkit-column-width: $columnWidth;
    -moz-column-width: $columnWidth;
    column-width: $columnWidth;
    column-gap: 15px;

    .nobreak {
        break-inside: avoid-column;
    }

    h2 {
        font-weight: bold;
    }
}

//Overriding bootstrap container
.container {
    max-width: none;
}

/* Responsive: Portrait tablets and down */
//Making our image more responsize so they do not break the page
@media screen and (max-width: 768px) {

    .mapsFrame {
        width: 90%;
        height: auto;
    }

    .contactImage {
        width: 90%;
        height: auto;
        margin-bottom: 10px;
        border-radius: 3px;
    }

    .carousel-inner > .item > img, .carousel-inner > .item > a > img {
        width: 100%;
        height: 300px;
    }

    .mainCarousel {
        width: 90%;
        height: 300px;
    }

    .carousel-inner > .item > img, .carousel-inner > .item > a > img {
        width: 100%;
        height: 200px;
    }

}
